{"filter":false,"title":"django.config","tooltip":"/.ebextensions/django.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1765013187622,"hash":"a22f5982c21639c19a519f2f0895eb89be8bbd97"}